$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('dubu.jpg');
  background-size: cover;
  height: 300px;
  
}
.center {
  text-align: center;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
  }
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #073B15;
  }
  
  
.description {
margin-top: 0;
}

.well a {
  color: #073B15;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}