<footer class="footer center">
  <div class="container">
    <p class="text-muted">&copy; copyright 2017 - <a href="https://codecutta.wpdevcourse.com">Simon Lee</a>
      <br>This website is built using Bootstrap, and Ruby on Rails.
      <br><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Blog</a> | <a href="#">FAQ</a> | <a href="#">Contact</a>
    </p>
  </div>
</footer>